# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android

# Credentials and secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Build artifacts
.kotlin/
.metro-health-check*
*.tsbuildinfo

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*.local

# Merge conflict backups
*.orig.*

# Xcode
xcuserdata/

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm

# CocoaPods
# Pods/
# *.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
